node_modules

node_modules/*
miniprogram_npm
# local env files
# .env.dev
.env.*.local
config.json
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock
package-lock.json
data.db

env
_metadata
*.png
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.zip
*.log
